.about-company {
   background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
}

.about-company__wrapper {
   display: flex;
   gap: 110px;
   margin-bottom: 120px;
}

.about-company__aside {
   width: 660px;
   flex-grow: 1;
   margin-top: 80px;
}

.about-company__title {
   position: relative;
   font-family: 'Bebas Neue Bold';
   font-size: 80px;
   line-height: 80px;
   margin-bottom: 24px;
}

.about-company__title::after{
   content: url(../img/about/bg_1.svg);
   position: absolute;
   top: 61px;
   right: 29px;
}

.about-company__desc {
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   color: var(--text-secondory);
   margin-bottom: 64px;
}

.about-company__content {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 97px;
   column-gap: 80px;
   row-gap: 39px;
}

.about-company__content::after{
   content: url(../img/about/bg_2.svg);
   position: absolute;
   right: -130px;
   bottom: 65px;
}

.about-company__item {
   width: 344px;
}

.about-company__img {
   width: 80px;
   height: 80px;   
   margin-bottom: 24px;
}
.abot-company__item-title {
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 16px;
}
.about-company__item-desc {
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   color: var(--text-secondory);
}