.advantages {
   line-height: 24px;
   margin-bottom: 139px;
}
.advantages__row {
   display: flex;
   gap: 100px;
   justify-content: center;
}
.advantages__item {
   width: 364px;
   height: 192px;
}
.advantages__icon {
   width: 80px;
   height: 80px;
   margin-bottom: 24px;
}
.advantages__title {
   margin-bottom: 16px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
}
.advantages__desc {
   font-family: 'Gilroy';
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;

   color: var(--text-secondory);
}
