.header-section{
   /* padding-top: 30px; */
   transition: .3s;
}

.header-section.fixed {
   position: fixed;
   background: #F4F9FC;
   box-shadow: 0px 5px 20px #CDDAE1;
   z-index: 99999;
   width: 100%;
   padding-top: 0px;
}

.container-header{
   max-width: 1860px;
   padding: 0 30px;
   margin: 0 auto;
}

.header {
   height: 70px;
   align-items: center;
   justify-content:center;
   display: flex;
   
}

.nav-logo{
   width: 190px;
   height: 70px;
}

.nav {
   display: flex;
   margin-left: 80px;
   width: 100%;
   /* gap: 290px; */
   justify-content: space-between;
}

.nav-categories{
   display: flex;
   align-items: center;
}

.nav-categories__list{
   display: flex;
   gap: 24px;
}
.nav-categories__list a{
   position: relative;
}
.nav-categories__item{
   font-size: 16px;
}

.nav-categories__item:after {
   content: " ";
 
   position: absolute;
   bottom: -25px;
   width: 100%;
   opacity: 0;
 
   display: block;
   height: 2px;
   background-color: var(--red_normal);
   transition: .1s ease-in;
   transform: scaleX(0);
}

.nav-categories__item:hover{
   color: var(--red_normal);
   transition: .1s ease-in;
}
.nav-categories__item:hover::after {
   transform: scale(1);
   opacity: 1;
}
 
.nav-categories__item.active::after {
   transform: scale(1);
   opacity: 1;
}


.nav-contacts {
   align-items: center;
   display: flex;
}

.nav-adress{
   position: relative;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
}
.nav-adress::before {
   content: url(../img/header/map-icon.svg);
   position: absolute;
   height: 32px;
   width: 32px;
   left: -52px;
}

.nav-adress a {
   font-size: 12px;
   text-decoration-line: underline;  
   color: #015AA9;
}
.nav-contacts__phone {
   margin-left: 45.5px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: -0.01em;
}

.nav-phone-call{
   margin-left: 35px;
   width: 48px;
   height: 48px;
   background: rgba(226, 0, 26, 0.1);
   border-radius: 15px;
   cursor: pointer;
   transition: .3s ease-in-out;
}
.nav-phone-call::after{
   content: url(../img/header/phone-red.svg);
}
.nav-phone-call:hover,.nav-phone-call:hover:active{
   background: #E2001A;
}
.nav-phone-call:hover::after,.nav-phone-call:hover:active::after{
   content: url(../img/header/phone-white.svg);
}
.slash {
   opacity: 0.2;  
}
