@import url(./header-nav.css);
@import url(./header-banner.css);
@import url(./advantages.css);
@import url(./service.css);
@import url(./about-company.css);
@import url(./feedback.css);
@import url(./order.css);
@import url(./form.css);
@import url(./footer.css);
@import url(./media.css);

:root {
   --red_normal: #E2001A;  
   --red_hover: #FC142F;
   --container-width: 1300px;
   --container-padding: 0 15px;
   --text-color: #13171D;
   --text-secondory: #444444;
   --orange: #FF6B00;
}

.container {
   max-width: var(--container-width);
   padding: var(--container-padding);   
   margin: 0px auto;
}

body {
   background-color: #F4F9FC;
   font-family: 'Gilroy', sans-serif;
   font-weight: 600;
   color: var(--text-color);
}

a {
   text-decoration: none;
   color: inherit;
}

.consultation__btn {
   margin-top: 40px;
   width: 284px;
   height: 64px;
   border-radius: 15px;
   border: none;
   cursor: pointer;

   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;

   color: #FFFF;
   background-color: var(--red_normal);
   transition: .1s ease-in-out;
}

.consultation__btn:hover{
   background: var(--red_hover);
   box-shadow: 0px 10px 30px rgba(252, 20, 47, 0.2);
}

.consultation__btn:active{  
   background: var(--red_hover);
   box-shadow: inset 0px 3px 0px #D10018;
}

.watch__btn {
   position: relative;
   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;
   padding: 18px 30px;

   width: 182px;
   height: 64px;

   border-radius: 15px;
   background-color: var(--red_normal);
   color: #FFF;
   cursor: pointer;
   transition: .3s ease-in-out;
}

.watch__btn::after{
   content: url(../img/about/watch-play.svg);
   position: absolute;
   top: 23px;
   right: 35px;
}

.watch__btn:hover{
   background-color: var(--red_hover);
   box-shadow: 0px 10px 30px rgba(252, 20, 47, 0.2);
}

.watch__btn:active{
   background: var(--red_hover);
   box-shadow: inset 0px 3px 0px #D10018;
}