:root {
   --red_normal: #E2001A;  
   --red_hover: #FC142F;
   --container-width: 1300px;
   --container-padding: 0 15px;
   --text-color: #13171D;
   --text-secondory: #444444;
   --orange: #FF6B00;
}

.container {
   max-width: var(--container-width);
   padding: var(--container-padding);   
   margin: 0px auto;
}

body {
   background-color: #F4F9FC;
   font-family: 'Gilroy', sans-serif;
   font-weight: 600;
   color: var(--text-color);
}

a {
   text-decoration: none;
   color: inherit;
}

.consultation__btn {
   margin-top: 40px;
   width: 284px;
   height: 64px;
   border-radius: 15px;
   border: none;
   cursor: pointer;

   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;

   color: #FFFF;
   background-color: var(--red_normal);
   transition: .1s ease-in-out;
}

.consultation__btn:hover{
   background: var(--red_hover);
   box-shadow: 0px 10px 30px rgba(252, 20, 47, 0.2);
}

.consultation__btn:active{  
   background: var(--red_hover);
   box-shadow: inset 0px 3px 0px #D10018;
}

.watch__btn {
   position: relative;
   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;
   padding: 18px 30px;

   width: 182px;
   height: 64px;

   border-radius: 15px;
   background-color: var(--red_normal);
   color: #FFF;
   cursor: pointer;
   transition: .3s ease-in-out;
}

.watch__btn::after{
   content: url(/img/about/watch-play.svg);
   position: absolute;
   top: 23px;
   right: 35px;
}

.watch__btn:hover{
   background-color: var(--red_hover);
   box-shadow: 0px 10px 30px rgba(252, 20, 47, 0.2);
}

.watch__btn:active{
   background: var(--red_hover);
   box-shadow: inset 0px 3px 0px #D10018;
}


/* ------------------------------------ HEADER NAV ------------------------------------- */
.container-header{
   max-width: 1860px;
   padding: 0 30px;
   margin: 0 auto;
}

.header {
   height: 70px;
   align-items: center;
   justify-content:center;
   display: flex;
   margin-top: 30px;
}

.nav-logo{
   width: 190px;
   height: 70px;
}

.nav {
   display: flex;
   margin-left: 80px;
   gap: 290px;
}

.nav-categories{
   display: flex;
   align-items: center;
}

.nav-categories__list{
   display: flex;
   gap: 24px;
}
.nav-categories__list a{
   position: relative;
}
.nav-categories__item{
   font-size: 16px;
}

.nav-categories__item:after {
   content: " ";
 
   position: absolute;
   bottom: -20px;
   width: 100%;
   opacity: 0;
 
   display: block;
   height: 2px;
   background-color: var(--red_normal);
   transition: .1s ease-in;
   transform: scaleX(0);
}

.nav-categories__item:hover{
   color: var(--red_normal);
   transition: .1s ease-in;
}
.nav-categories__item:hover::after {
   transform: scale(1);
   opacity: 1;
}
 
.nav-categories__item.active::after {
   transform: scale(1);
   opacity: 1;
}


.nav-contacts {
   align-items: center;
   display: flex;
}

.nav-adress{
   position: relative;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
}
.nav-adress::before {
   content: url(../img/header/map-icon.svg);
   position: absolute;
   height: 32px;
   width: 32px;
   left: -52px;
}

.nav-adress a {
   font-size: 12px;
   text-decoration-line: underline;  
   color: #015AA9;
}
.nav-contacts__phone {
   margin-left: 45.5px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: -0.01em;
}

.nav-phone-call{
   margin-left: 35px;
   width: 48px;
   height: 48px;
   background: url(../img/header/phone-call.svg);
   cursor: pointer;
   transition: .3s ease-in-out;
}
.nav-phone-call:hover,.nav-phone-call:hover:active{
   background: url(../img/header/phone-call-active.svg);
}
.slash {
   opacity: 0.2;  
}



/* ----------------------------------- HEADER BANNER -----------------------------  */

.header-banner{
   margin-top: 290px;
   margin-bottom: 139px;
}

.header__banner-img{
   height: 100px;
   width: 100px;
   background-color: red;
}

.header__row {
   position: relative;
}

.header__row::after{
   content: url(../img/header/banner-light.png);
   position: absolute;
   width: 1056px;
   height: 1056px;
   top: -293px;
   left: 180px;
   z-index: -2;
}
.header__row::before{
   content: url(../img/header/banner-header.png);
   position: absolute;
   width: 765px;
   height: 797px;
   left: -233px;
   top: -151px;
   /* clear: both; */
   z-index: -1;
}

.header__content {
   width: 625px;
   z-index: 10;
}

.header__title {
   font-family: 'Bebas Neue Bold';
   font-style: normal;
   font-size: 110px;
   line-height: 100px;
   letter-spacing: -0.01em;
}

.header__desc {
   margin-top: 20px;
   font-family: 'Gilroy Regular';
   font-size: 24px;
   line-height: 34px;
   letter-spacing: -0.01em;
   color: var(--text-secondory);
}

.header__discount {
   position: absolute;
   padding: 69px 20px 30px 20px;
   left: 1033px;
   top: 79px;
   
   background: #FFFFFF;
   box-shadow: 0px 71px 80px rgba(255, 107, 0, 0.11), 0px 21.4044px 24.1177px rgba(255, 107, 0, 0.0716748), 0px 8.8903px 10.0172px rgba(255, 107, 0, 0.055), 0px 3.21545px 3.62304px rgba(255, 107, 0, 0.0383252);
   border-radius: 30px;

   z-index: 3;
}
.header__discount-title {
   position: absolute;
   font-family: 'Bebas Neue Bold';
   font-size: 113px;
   line-height: 113px;
   color: var(--orange);
   top: -38px;
   left: 30px;
}
.header__discount-desc {
   position: relative;
   width: 213px;
   font-family: "Gilroy Regular";
   font-size: 20px;
   line-height: 26px;
   margin-bottom: 45px;
}

.header__discount-desc::after{
   content: "";
   top: 100px;
   left: 0;
   position: absolute;
   width: 205px;
   height: 2px;
   background-color: var(--text-color);
   opacity: 0.1;
}

.bold__discount{
   font-family: 'Gilroy Bold';
}

.discount__end{
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;   
   opacity: 0.5;
   margin-bottom: 8px;
}


.countdown{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.time{
   position: relative;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 48px;
   height: 55px;
}

.time h3 {
   font-weight: 600;
   font-size: 32px;
   line-height: 38px;
   width: 38px;
   margin-bottom: 4px;
}

.time:not(:last-child)::after {
   content: ":";
   position: absolute;
   top: 2px;
   left: 55px;
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;   
}

.timer__part{
   font-weight: 600;
   font-size: 11px;
   line-height: 13px;
   letter-spacing: -0.01em;
   opacity: 0.5;
}


/* -------------------------------- Advantages ------------------------------------ */

.advantages {
   line-height: 24px;
   margin-bottom: 139px;
}
.advantages__row {
   display: flex;
   gap: 100px;
   justify-content: center;
}
.advantages__item {
   width: 364px;
   height: 192px;
}
.advantages__icon {
   width: 80px;
   height: 80px;
   margin-bottom: 24px;
}
.advantages__title {
   margin-bottom: 16px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
}
.advantages__desc {
   font-family: 'Gilroy';
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;

   color: var(--text-secondory);
}

/* ---------------------------------- Service --------------------------------------------- */

.service {
   margin-bottom: 80px;
}

.service__row {
   display: grid; 
   grid-template-columns: 1fr 1fr 302px 302px; 
   grid-template-rows: 310px 310px; 
   gap: 100px 30px; 
   grid-template-areas: 
   "a a b c"
   "d e f g"; 
   align-items: center;
}

.service__title {
   font-family: 'Bebas Neue Bold';
   font-size: 80px;
   line-height: 84px;
   flex-basis: 50%;
   grid-area: a;
}

.service__item {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 302px;
   height: 310px;
   box-shadow: 0px 50px 60px rgba(255, 107, 0, 0.08), 0px 8px 10px rgba(255, 107, 0, 0.08);
   border-radius: 30px;
   align-items: start;
   justify-content: end;
}
.service__item-img {
   position: absolute;
   top: -25px;
   left: 20px;
}

.service__item-title {
   font-weight: 600;
   font-size: 22px;
   line-height: 30px;
   margin-left: 20px;
}

.service__item-btn {
   position: relative;
   width: 40px;
   height: 40px;
   top: 15px;
   left: 235px;
   border-radius: 50%;
   background-color: #FFF;
   box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);     
   cursor: pointer;
   transition: .3s  ease-in-out;
}
.service__item-btn::after{
   position: absolute;
   content: url(../img/service/arrow-red.svg);
   left: 17px;
   top: 13.5px;
   
}
.service__item-btn:hover::after{
   content: url(../img/service/arrow-white.svg);
}

.service__item-btn::before {
   position: absolute;
   content: " ";
   width: 64px;
   height: 64px;
   left: -12px;
   top: -12px;
   border-radius: 50%;
   background-color: #FFF;
   opacity: 0.5;
   box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);
   z-index: -1;
}

.service__item-btn:hover {
   background: var(--red_normal);    
}

/* ----------------------------- About company -------------------------------------- */

.about-company {
   background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
}

.about-company__wrapper {
   display: flex;
   gap: 110px;
   margin-bottom: 120px;
}

.about-company__aside {
   width: 660px;
   flex-grow: 1;
   margin-top: 80px;
}

.about-company__title {
   position: relative;
   font-family: 'Bebas Neue Bold';
   font-size: 80px;
   line-height: 80px;
   margin-bottom: 24px;
}

.about-company__title::after{
   content: url(../img/about/bg_1.svg);
   position: absolute;
   top: 61px;
   right: 29px;
}

.about-company__desc {
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   color: var(--text-secondory);
   margin-bottom: 64px;
}

.about-company__content {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 97px;
   column-gap: 80px;
   row-gap: 39px;
}

.about-company__content::after{
   content: url(../img/about/bg_2.svg);
   position: absolute;
   right: -130px;
   bottom: 65px;
}

.about-company__item {
   width: 344px;
}

.about-company__img {
   width: 80px;
   height: 80px;   
   margin-bottom: 24px;
}
.abot-company__item-title {
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 16px;
}
.about-company__item-desc {
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   color: var(--text-secondory);
}

/* --------------------------- Feedback ----------------------------------*/

.feedback__wrapper {
   margin-bottom: 120px;
}
.feedback__header {
   display: flex;
   justify-content: space-between;
}
.feedback__title {
   font-family: 'Bebas Neue Bold';
   font-size: 56px;
   line-height: 56px;
   margin-bottom: 48px;
}
.feedback__slider-buttons {
   display: flex;
   gap: 16px;
}
.slider__btn {
   border: none;
   cursor: pointer;
   padding: 13px 15px 12px 15px;
   background: #fff;
   box-shadow: 0 8px 16px rgba(255,107,0,.16);
   border-radius: 30px;
   stroke: #e2001a;
   transition: .2s all;
}

.feedback__video {
   display: flex;
   justify-content: center;
   column-gap: 30px;
}

.feedback__video-item {
   position: relative;
   /* display: flex; */
   width: 302px;
   height: 250px;
   border-radius: 15px;

   align-items: center;
   justify-content: center;
   overflow: hidden;

   background-color: red;
}

.feedback__video-player{
   position: relative;
   height: 100%;
}
.feedback__img{
   position: absolute;
   height: 100%;
}

.video__btn{
   position: absolute;
   width: 56px;
   height: 56px;
   top: 97px;
   left: 124px;
   border-radius: 50%;
   background-color: #FFFF;
   cursor: pointer;
   transition: .3s ease-in-out;
   z-index: 1;
}

.video__btn::after{
   position: absolute;
   content: url(../img/about/video-arrow.svg);
   height: 13.5px;
   width: 10.5px;
   left: 23.25px;
   top: 19.75px;
}

.video__btn:hover::after {
   content: url(../img/about/video-arrow-white.svg)
}

.video__btn::before {
   content: " ";
   position: absolute;
   width: 72px;
   height: 72px;
   top: -8px;
   left: -8px;
   border-radius: 50%;
   background-color: #FFFF;
   opacity: 0.5;
   box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);
}

.video__btn:hover::before{
   opacity: 0;
}

.video__btn:hover{
   background: var(--red_hover);
}

/* ---------------------------- Order ------------------------------------------------ */

.orders {
   padding-top: 80px;
   margin-bottom: 325px;  
   background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
}

.orders__wrapper{
   margin-bottom: 120px;
}

.orders__title {
   position: relative;
   margin-bottom: 48px;
   font-family: 'Bebas Neue Bold';
   font-size: 56px;
   line-height: 56px;
}

.orders__title::after{
   content: url(../img/about/bg_1.svg);
   position: absolute;
   bottom: 11px;
   left: 451px;
}

.orders__row {
   display: flex;
   gap: 32px;
}
.order__item {
   min-width: 412px;
   height: 400px;  
   border-radius: 5%;
   overflow: hidden;
}

/* ------------------------------------- Form --------------------------------- */

.write {
   position: relative;
   width: var(--container-width);
   height: 328px;
   border: 1px solid #C7D1D7;
   border-radius: 30px;
}

.discount {
   position: absolute;
   font-family: 'Bebas Neue Bold';
   padding: 0 15px;
   top: -43px;
   left: 125px;
   font-size: 113.007px;
   line-height: 113px;
   color: var(--orange);
   text-shadow: 0px 100px 80px rgba(255, 107, 0, 0.11), 0px 46.233px 36.9864px rgba(255, 107, 0, 0.0815843), 0px 26.4535px 21.1628px rgba(255, 107, 0, 0.0689459), 0px 16.0571px 12.8457px rgba(255, 107, 0, 0.0593943), 0px 9.67509px 7.74008px rgba(255, 107, 0, 0.0506057), 0px 5.38772px 4.31018px rgba(255, 107, 0, 0.0410541), 0px 2.31722px 1.85378px rgba(255, 107, 0, 0.0284157);
   background-color: #F4F9FC;
}

.discount::after {
   content: url(../img/header/fire.svg) ;
   position: absolute;
   left: 100px;
   top: -15px;
}

.write__wrapper {
   display: flex;
   height: 100%;
   align-items: center;
   justify-content: space-evenly;
}

.write__desc {
   width: 377px;
   font-family: 'Bebas Neue Bold';
   font-size: 48px;
   line-height: 48px;
   text-transform: uppercase;
}

.write__desc-red{
   color: var(--red_normal);
}

.write__form {
   display: grid;
   grid-template-columns: 240px 260px; 
   grid-template-rows: repeat(3, 64px);
   gap: 24px;
   row-gap: 20px;
}
.write__form-day {
   border: 1px solid #DADADA;
   border-radius: 15px;
   padding: 19px 24px;
}
.write__form-time {
   border: 1px solid #DADADA;
   border-radius: 15px;
   padding: 19px 24px;

}
.write__form-phone {
   grid-column-start: 1;
   grid-column-end: 3;
   border: 1px solid #DADADA;
   border-radius: 15px;
   padding: 19px 24px;
}
.form__btn {
   padding: 18px 30px;
   color: #FFFF;
   background: var(--red_normal);
   border-radius: 15px;  
   transition: .3s ease-in-out;
}

.form__btn:hover {
   background: var(--red_hover);
}

.form__btn:active{
   box-shadow: inset 0px 3px 0px #D10018;
}

/* ------------------------------ Footer ------------------------------- */
.footer {
   position: relative;
}
.footer__container {
   position: absolute;
   width: 1300px;
   height: 290px;
   left: 50%;
   top: -210px;
   transform: translateX(-50%); 
   background: #FFFFFF;  
   border-radius: 30px;
   box-shadow: 0px 50px 60px rgba(255, 107, 0, 0.08), 0px 8px 10px rgba(255, 107, 0, 0.08);
}
.footer__wrapper {
   display: flex;
   flex-direction: column;
}
.footer__contacts {
   display: flex;
   margin-bottom: 34px;
   gap: 50px;
   justify-content: center;
}
.footer__contacts-item {
   display: flex;
   align-items: center;
   margin-top: 55px;
   left: 77px;
   gap: 16px;
}
.contact__img {
   width: 56px;
   height: 56px;
}
.contact__link {
   font-family: 'Montserrat';
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
}
.footer__desc {
   position: relative;
   display: flex;
   left: 77px;
   gap: 188px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
}

.rating__title {
   margin-bottom: 16px;
}
.rating__img {
   margin-bottom: 8px;
}
.rating__desc {
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
}

.footer__socials-title {
   margin-bottom: 22px;   
}
.socials__link {
   display: flex;
   gap: 15px;
}
