@media (max-width: 1620px) {
   .nav-logo{
      width: 165px;
      height: 70px;
   }

   .nav {
      margin-left: 30px;
      width: 100%;
      /* gap: 290px; */
      justify-content: space-between;
   }

   .nav-categories__item{
      font-size: 14px;
   }

   .nav-adress{
      font-size: 12px;
      line-height: 14px;
   }
   .nav-adress::before {
      height: 30px;
      width: 30px;
   }

   .nav-contacts__phone {
      font-size: 18px;
      line-height: 20px;
      margin-left: 20px;
   }
   .nav-phone-call{
      margin-left: 25px;
   }
}
