.modal__wrapper{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 446px;
   background: #FFFFFF;
   border-radius: 20px;
   margin: 30px 15px;
   scale: 0;
   transition: .8s;
}

.modal__consultation {
   position: fixed;      
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   background: rgb(19, 23, 29, 0.9);
   z-index: 99999;
   display: grid;
   align-items: center;
   justify-content: center;
   overflow-y: auto;  
   visibility: hidden;
   opacity: 0;
   transition:.4s;
}

.modal__consultation.open {
   visibility: visible;
   opacity: 1;
}

.modal__consultation-wrapper {
   position: relative;
   width: 500px;
   height: 446px;
}
.modal__consultation.open .modal__wrapper{
   scale: 1;
}

.modal__close-btn{
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
}

.modal__consultation-title {
   font-family: 'Bebas Neue Bold';
   font-size: 32px;
   line-height: 32px;
   text-align: center;
   margin-top: 50px;
}
.modal__red {
   color: var(--red_normal);
}
.modal__consultation-form {
   display: flex;
   margin-top: 40px;
   gap: 20px;
   flex-direction: column;
   align-items: center;
}
.modal__form-name {
   padding: 19px 24px;
   height: 64px;
   width: 80%;
   border: 1px solid #DADADA;
   border-radius: 15px;
}
.modal__form-phone {
   padding: 19px 24px;
   height: 64px;
   width: 80%;
   border: 1px solid #DADADA;
   border-radius: 15px;
}

.modal__form-btn {
   padding: 19px 24px;
   height: 64px;
   width: 80%;
   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 16px;
   line-height: 28px;
   color: #FFFF;
   background-color: rgba(226, 0, 26, 0.6);
   border-radius: 15px;
   pointer-events: none;
}

.modal__form-btn.btn-active{
   pointer-events: auto;
   background-color: var(--red_normal);
   cursor: pointer;
   transition: .3s ease-in-out;
}

.modal__form-btn.btn-active:hover {
   background-color: var(--red_hover);
   box-shadow: 0px 10px 30px rgba(252, 20, 47, 0.2);
   border-radius: 15px;
}

.modal__form-btn.btn-active:active {
   background-color: var(--red_hover);
   box-shadow: inset 0px 3px 0px #D10018;
}

/* ---------------------- Modal Accept ----------------------------- */

.modal__consultation-accept {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 446px;
   row-gap: 40px 10px;
}

.modal__accept-img {
   width: 90px;
   height: 90px;
   background: #FFD66B;
   box-shadow: 0px 30px 40px rgba(255, 214, 107, 0.5);
   border-radius: 5600px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal__accept-title {
   margin-top: 40px;
   font-family: 'Bebas Neue Bold';
   font-size: 32px;
   line-height: 32px;
}
.modal__aceppt-desc {
   margin-top: 10px;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

/* --------------- Modal watch ---------------- */

.modal__watch-wrapper{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 960px;
   height: 540px;
   background: #FFFFFF;
   border-radius: 20px;
   margin: 30px 15px;
   color: #FFFF;
   scale: 0;
   transition: .8s;
}

.modal__consultation.open .modal__watch-wrapper{
   scale: 1;
}

.modal__watch-wrapper iframe{
   width: 80%;
   height: 80%;
   border-radius: 15px;   
}