.orders {
   padding-top: 80px;
   margin-bottom: 325px;  
   background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
}

.orders__wrapper{
   margin-bottom: 120px;
}

.orders__title {
   position: relative;
   margin-bottom: 48px;
   font-family: 'Bebas Neue Bold';
   font-size: 56px;
   line-height: 56px;
}

.orders__title::after{
   content: url(../img/about/bg_1.svg);
   position: absolute;
   bottom: 11px;
   left: 451px;
}

.orders__row {
   display: flex;
   gap: 32px;
}
.order__item {
   min-width: 412px;
   height: 400px;  
   border-radius: 5%;
   overflow: hidden;
}