.service {
   margin-bottom: 80px;
}

.service__row {
   display: grid; 
   grid-template-columns: 1fr 1fr 302px 302px; 
   grid-template-rows: 310px 310px; 
   gap: 100px 30px; 
   grid-template-areas: 
   "a a b c"
   "d e f g"; 
   align-items: center;
}

.service__title {
   font-family: 'Bebas Neue Bold';
   font-size: 80px;
   line-height: 84px;
   flex-basis: 50%;
   grid-area: a;
}

.service__item {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 302px;
   height: 310px;
   box-shadow: 0px 50px 60px rgba(255, 107, 0, 0.08), 0px 8px 10px rgba(255, 107, 0, 0.08);
   border-radius: 30px;
   align-items: start;
   justify-content: end;
}
.service__item-img {
   position: absolute;
   top: -25px;
   left: 20px;
}

.service__item-title {
   font-weight: 600;
   font-size: 22px;
   line-height: 30px;
   margin-left: 20px;
}

.service__item-btn {
   position: relative;
   width: 40px;
   height: 40px;
   top: 15px;
   left: 235px;
   border-radius: 50%;
   background-color: #FFF;
   box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);     
   cursor: pointer;
   transition: .3s  ease-in-out;
}
.service__item-btn::after{
   position: absolute;
   content: url(../img/service/arrow-red.svg);
   left: 17px;
   top: 13.5px;
   
}
.service__item-btn:hover::after{
   content: url(../img/service/arrow-white.svg);
}

.service__item-btn::before {
   position: absolute;
   content: " ";
   width: 64px;
   height: 64px;
   left: -12px;
   top: -12px;
   border-radius: 50%;
   background-color: #FFF;
   opacity: 0.5;
   box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);
   z-index: -1;
}

.service__item-btn:hover {
   background: var(--red_normal);    
}
