@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@font-face {
	font-family: 'Bebas Neue Bold';
	src: url('../fonts/BebasNeueBold.ttf') format('truetype');
}
